Variables and Data Type

In [6]:
mobile_number = 1757279611

print(mobile_number)

1757279611

In [16]:
my_name = "shuvon"
my_age = 22
my_height = 5.5
is_score = True

print(type(my_name), type(my_age), type(my_height), type(is_score))

print(my_name, my_age, my_height, is_score)

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>
shuvon 22 5.5 True

Taking Input in Python

In [20]:
name = input("what is my Wife name?")

print(name)

what is my Wife name? Nilima

Nilima

wife_age = input("How old are my wife age?")

print(type(wife_age), wife_age)

In [25]:
she_age = input("Age ?") #string hisabe input nibe
she_age = int(she_age) #string k integer a convert korlam

print(type(she_age), she_age)

Age ? 19

<class 'int'> 19

In [28]:
she_height = input("Height ?") #string hisabe nibe
print(she_height, type(she_height))

Height ? 5.5

5.5 <class 'str'>

In [29]:
she_height = float(she_height) # string k float a convert korlam
print(she_height, type(she_height))

5.5 <class 'float'>

Operators in Python

In [30]:
x = 10; y = 40

sum = x + y #summetion
sub = x - y #subtraction
into = x * y #multiplicatiom
div = x / y #division
rem = x % y #remainder

print(sum, sub, into, div, rem)

50 -30 400 0.25 10

In [39]:
x = 20; y = 5

greater_then = x > y
greater_then_equal = (10 >= 10)

print(greater_then, greater_then_equal)

less_then = x < y
less_then_equal = (20 >= 20)

print(less_then, less_then_equal)

equal = x == y
print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False
True

Logical Operator

In [41]:
a = 20; b = 30; c = 9

result = (a > b) and (a > c)
print(result)

False

In [43]:
a = 20; b = 30; c = 21

result = (a < b) and (a < c)
print(result)

True

In [46]:
a = 40; b = 5; c = 30
result = (a > b) or (a > c)
print(result)

True

Precedence and Associativity

In [47]:
eq = 10 + 10/2 - 5*2 #precedency maintain korbe
print(eq)

5.0

In [48]:
eq = (10+10)/2 - 5*2 ## ekhane breakte er part tuku age complete hobe
print(eq)

0.0

Problem: Digit Summetion

In [51]:
inp = input()

numbers = inp.split()

x = int(numbers[0]) 
y = int(numbers[1])

last_digit_of_x = x % 10
last_digit_of_y = y % 10

sum = last_digit_of_x + last_digit_of_y

print(sum)

 13 12

5